@charset 'utf-8';

.intermediate-content {padding-top: 50px;padding-bottom: 55px;}
.intermediate-content .cmsmasters_img{display: inline-block;max-width: 100%;margin-bottom: 30px;}
.intermediate-content .cmsmasters_wrap{position: relative;overflow: hidden;margin-bottom: 10px;}
.intermediate-content .cmsmasters_wrap h3{margin: 0;display: inline-block;font-size: 18px;}
.intermediate-content .cmsmasters_wrap h5{margin: 0;display: inline-block;font-size: 14px;line-height: 20px;text-transform: none;
	text-decoration: none;color: #292929;font-weight: 400;margin-bottom: 20px;}
.intermediate-content .cmsmasters_wrap h5 a:hover{color: #ff6c2f;}
.intermediate-content .cmsmasters_wrap h5 a i{margin-right: 0.5em;background-color: transparent;color: #292929;}

.intermediate-content .details-title h1{margin: 0;display: inline-block;font-size: 30px;line-height: 36px;text-transform: none;text-decoration: none;margin-bottom: 10px;}
.intermediate-content .title-bottom-line{border-bottom-width: 1px;border-bottom-style: solid;padding-top: 0px;margin-bottom: 30px;width: 100%;border-color: #e4e4e4;
	background-color: transparent;border-bottom-width: 1px;height: 1px;position: relative;display: block;clear: both;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);}
.intermediate-content .cmsmasters_text{margin-bottom: 20px;}
.intermediate-content .cmsmasters_text p{margin: 0;padding: 0 0 20px;}

.intermediate-content .cmsmasters_gallery_img .example-image-link{display: inline-block;width: 31%;margin: 0 0 10px 10px;vertical-align: top;max-height: 160px;
	overflow: hidden;}
.intermediate-content .cmsmasters_gallery_img .example-image-link img{max-height: 160px;}

.page-social a .fa-instagram{background-color: #8a3ab9;}



@media screen and (min-width: 768px) and (max-width: 991px){
	.intermediate-content .cmsmasters_gallery_img .example-image-link{width: 48%;}
}

@media screen and (max-width: 767px){
	.intermediate-content .cmsmasters_gallery_img .example-image-link{width: 100%;margin: 0 0 10px 0;max-height: inherit;}
	.intermediate-content .cmsmasters_gallery_img .example-image-link img{max-height: inherit;}
}